html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background: #fbf9f9;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}